.topo nav {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.topo {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.topo nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    position: relative;
}

.topo nav a:hover {
    color: #ffc98f;
}

.topo picture img {
    height: 80px;
    width: 80px;
}

@media (max-width: 520px) {
    .topo {
        justify-content: center;
    }

    .topo nav {
        justify-content: center;
    }
}